body{

margin:0;

font-family:Arial;

background:#faf6f0;

text-align:center;

}

header{

background:black;

color:gold;

padding:40px;

}

nav a{

margin:20px;

color:white;

text-decoration:none;

}

section{

padding:60px;

}