.about-hero{

margin-top:100px;
padding:100px;
text-align:center;
background:#faf6ef;

}

.about-hero h1{

font-size:60px;
font-family:'Playfair Display',serif;
margin-bottom:20px;

}

.about-content{

display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
padding:80px;

align-items:center;

}

.about-image img{

width:100%;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.about-text h2{

margin-top:25px;
color:#b68b2f;

}

.about-text p{

margin-top:10px;
line-height:1.8;

}

.stats{

display:grid;
grid-template-columns:repeat(3,1fr);

padding:70px;

text-align:center;

background:#111;
color:white;

}

.stats h2{

font-size:50px;
color:#d4af37;

}

@media(max-width:900px){

.about-content{

grid-template-columns:1fr;

}

.stats{

grid-template-columns:1fr;

gap:40px;

}

}